html {
    height: 100%;
  }

body {
    margin: 0;
    outline: none;
    border: none;
    margin-top: 10px;
    /* min-height: 100vh; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #DCDCDC;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: linear-gradient(90deg, rgba(254, 254, 254, 0.5), rgba(254,254,254,0.5)), url('./photo/lavender-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

main {
    /* Чтобы занимал оставшееся пространство */
    flex-grow: 1;
  }
  
